/build/
/build-*
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
install_manifest.txt
*.autosave
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.qmlproject.user
*.qmlproject.user.*
*.creator.*
*.creator
*.user
*.user.*
.vscode/
.vscode/*
.vscode/*.*
*.o
*.a
*.so
*.so.*
*.dylib
*.dll
*.exe
*.log
*.dmp
*.tmp
.idea/
*.iml
*.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.old
*.gcno
*.gcda
*.gcov
*.shadercache
*.cache
*.obj
*.pch
*.local
*.secret
